<!-- <section>
    <p-toast></p-toast>

    <div class="container">
   <div class="row">
    <div class="w-75 mx-auto p-4  ">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="px-2">
            <h1>Registration form</h1>
            
            <div class="d-flex flex-column justify-content-center ">
                <label for="firstName">Frist Name</label>
                <input formControlName="firstName" class="form-control"
                 id="firstName" type="text" placeholder="Frist Name" pInputText />
                
                </div>
            
            <div class=" d-flex flex-column justify-content-center">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" class="form-control"
                id="lastName" placeholder="Last Name" type="text" pInputText />
            </div>
            <div class=" d-flex flex-column justify-content-center">
                <label for="email">Email</label>
                <input formControlName="email" class="form-control"
                id="email" placeholder="Email" type="email" pInputText />
                    </div>

            <div class=" d-flex flex-column justify-content-center">
                <label for="age">Age</label>
                <p-inputNumber formControlName="age" class="form-control"
                id="age" placeholder="Age" inputId="integeronly" formControlName="value" />
            </div>
            <div class=" d-flex flex-column justify-content-center">
                <label for="password">Password</label>
                <p-password 
                id="password" placeholder="Password" [toggleMask]="true" />
                
            </div>
                
            <div class="w-100 text-center my-4 ">
                <button  type="submit" label="Register" class="btn btn-primary w-100"> SignUp</button>
            </div>
            
        </form>
    </div>
     
   </div>

    </div>
</section> -->



<section class="py-4">
    <p-toast></p-toast>
<div class="container mt-5">
  <div *ngIf="!showLogin"  class="card p-4 shadow">
    <h2 class="mb-4">Student Registration</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" formControlName="age">
      </div>
      <div class="mb-3">
        <label class="form-label">password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <button pButton type="submit"  class="p-button-success">Register</button>
    </form>
  </div>
  <div class="row">

    <button pButton   class="p-button-primeray ms-auto w-auto mt-3 ">Signin</button>
  </div>
</div>

</section>

<!-- <a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
</a> -->

<!-- <div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                      <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <div class="form-group">
                                            <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="password" formControlName="firstName" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                      </div>
                                  </div>
                              </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>
                                        <div class="form-group">
                                            <input type="text" formControlName="firstName" name="firstName" class="form-style" placeholder="Your Frist Name" id="firstName" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>	
                                        <div class="form-group">
                                            <input type="text" formControlName="lastName" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>	
                                        
                                        <div class="form-group mt-2">
                                            <input type="email" formControlName="email" name="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="password" formControlName="age" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div> -->