<!-- <section>
    <p-toast></p-toast>

    <div class="container">
   <div class="row">
    <div class="w-75 mx-auto p-4  ">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="px-2">
            <h1>Registration form</h1>
            
            <div class="d-flex flex-column justify-content-center ">
                <label for="firstName">Frist Name</label>
                <input formControlName="firstName" class="form-control"
                 id="firstName" type="text" placeholder="Frist Name" pInputText />
                
                </div>
            
            <div class=" d-flex flex-column justify-content-center">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" class="form-control"
                id="lastName" placeholder="Last Name" type="text" pInputText />
            </div>
            <div class=" d-flex flex-column justify-content-center">
                <label for="email">Email</label>
                <input formControlName="email" class="form-control"
                id="email" placeholder="Email" type="email" pInputText />
                    </div>

            <div class=" d-flex flex-column justify-content-center">
                <label for="age">Age</label>
                <p-inputNumber formControlName="age" class="form-control"
                id="age" placeholder="Age" inputId="integeronly" formControlName="value" />
            </div>
            <div class=" d-flex flex-column justify-content-center">
                <label for="password">Password</label>
                <p-password 
                id="password" placeholder="Password" [toggleMask]="true" />
                
            </div>
                
            <div class="w-100 text-center my-4 ">
                <button  type="submit" label="Register" class="btn btn-primary w-100"> SignUp</button>
            </div>
            
        </form>
    </div>
     
   </div>

    </div>
</section> -->



<section class="py-4">
    <p-toast></p-toast>
<div class="container mt-5">
  <div *ngIf="!showLogin"  class="card p-4 shadow">
    <h2 class="mb-4">Student Registration</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" formControlName="age">
      </div>
      <div class="mb-3">
        <label class="form-label">password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <button pButton type="submit"  class="p-button-success rounded-2">Register</button>
    </form>
  </div>
  <div class="row">

    <button pButton routerLink='/login'    class="p-button-primeray ms-auto w-auto mt-3 rounded-2 ">Signin</button>
  </div>
</div>

</section>
